<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="icon" type="image/png" href="./assets/images/my.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="./assets/style/bootstrap.css">
    <!--Noto Sans CJK TC 字體引入-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300;400;700&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <!--icon-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--icon-->
    <script src="https://kit.fontawesome.com/ae90d4fd10.js" crossorigin="anonymous"></script>
    <!--swiper-->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <!--adobe字體-->
    <link rel="stylesheet" href="https://use.typekit.net/qzw0yzm.css">
    <!--aos.css動畫-->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!--icon-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">
    <!--loader.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/loaders.css/0.1.2/loaders.css">
    <!--animate-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" rel="stylesheet" />
    <!--內部-->
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

<body>
  <nav 
    class="navbar navbar-expand-lg navbar-light border border-dark bg-white
            z-index-9999
            w-100
            border-bottom-wordColor_1
            border-end-0
            border-start-0
            border-top-0
            position-sticky
            " 
    >
  <%- include('../components/navbar.ejs') %>
  </nav>
  <%- include('../components/buySidebar.ejs') %>
  <%- contents %>
  <div <% if(current === 'checkInfo') { %> hidden <% } %> >
    <%- include('../components/footer.ejs') %>
  </div>
  
  
  <!--swiper-->
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>